<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:th="http://www.thymeleaf.org" 
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
 
    <head>
	<title>Spring Security with Extra Fields</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
    <body>
        <div class="container">
        <div class="logout float-right" th:fragment="logout" sec:authorize="isAuthenticated()">
            <p>Logged in: <span th:text="${userName}">Username</span> | <span sec:authentication="name"></span> | <span th:text="${tenantName}">Some Domain</span>
            </p>
            <div>
                <form action="#" th:action="@{/logout}" method="post">
                    <button class="btn btn-sm btn-primary btn-block" type="submit">Logout</button>
                </form>
            </div>
        </div>

        <h2>Hello Spring Security</h2>
        <p>This is an unsecured page, but you can access the secured pages after authenticating.</p>
        <ul>
            <li>Go to the <a href="/user/index" th:href="@{/user/index}">secured pages</a></li>
        </ul>
        </div>
    </body>
</html>